<div [ngClass]="materialTheme.id" class="app-frame">  
  <md-toolbar color="primary" class="fixed-toolbar">
    <button md-button (click)="sidenav.open()"><md-icon>menu</md-icon> Menu</button>
    <span class="toolbar-header">Event SignUp</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="themeMenu">Theme</button>
    <md-menu #themeMenu="mdMenu" class="sticky-overlay">
      <button md-menu-item *ngFor="let theme of themes" (click)="setTheme(theme)">{{theme.display}}</button>
    </md-menu>
  </md-toolbar>
  <md-sidenav-container class="mat-typography">
    <md-sidenav #sidenav>
      <md-nav-list>
        <h3 md-subheader>Getting Started</h3>
        <a md-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">Home</a>
        <a md-list-item routerLink="/people-list" routerLinkActive="active" (click)="sidenav.close()">People</a>
      </md-nav-list>
    </md-sidenav>
    <div class="app-body">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </md-sidenav-container>
</div>