<personheat-add></personheat-add>
<div class="heat-list">
    <div *ngFor="let heat of heats" class="heat-card">
        <div class="heat-list"></div>
        <div class="person-list">
            <div *ngFor="let personHeat of heat.peopleHeats" class="person-heat-card">
                <p>{{heat.name}}</p>
                <p>{{personHeat.person.firstName}}</p>
                <p>{{personHeat.person.lastName}}</p>
                <p>{{personHeat.person.email}}</p>
                <p>{{personHeat.person.sex}}</p>
                <p>{{personHeat.rxEvent}}</p>
                <p>{{personHeat.id}}</p>
                <p>{{personHeat.person.id}}</p>
                <p>{{heat.id}}</p>
                <button md-raised-button color="warn" (click)="deletePersonHeat(personHeat.id)">Delete</button>
            </div>
        </div>
    </div>
</div>