<personheat-add></personheat-add>
<div class="heat-list">
    <md-card *ngFor="let heat of heats" class="heat-card">
        <md-card-header class="heat-list"></md-card-header>
        <div class="person-list">
            <div *ngFor="let personHeat of heat.peopleHeats" class="person-heat-card">
                <p>{{heat.name}}</p>
                <p>{{personHeat.person.lastName}}, {{personHeat.person.firstName}}</p>
                <p class="hide-email">{{personHeat.person.email}}</p>
                <p class="hide-gender">{{personHeat.person.sex}}</p>
                <p class="hide-scale">{{personHeat.rxEvent}}</p>
                <button md-raised-button color="accent" (click)="onSelect(personHeat)">Edit</button>
                <button md-raised-button color="warn" (click)="deletePersonHeat(personHeat.id)">Delete</button> 
            </div>
        </div>
    </md-card>
</div>
