<div class="ui modal" [id]="modalId" *ngIf="personService.behaviorPerson | async">
    <md-toolbar>Update Person</md-toolbar>
    <md-card class="input-card">
        <h3 placeholder="person.userName">User Name: {{personService.behaviorPerson.value.userName}}</h3>
        <md-card-content>
            <section>
                <md-input-container class="mat-input-container">
                    <input mdInput [(ngModel)]="personService.behaviorPerson.value.firstName" placeholder="Name" />
                </md-input-container>
                <md-input-container>
                    <input mdInput [(ngModel)]="personService.behaviorPerson.value.lastName" placeholder="Last" />
                </md-input-container>
                <md-input-container>
                    <input mdInput [(ngModel)]="personService.behaviorPerson.value.userName" placeholder="Last" />
                </md-input-container>
                <md-select placeholder="Gender" [(ngModel)]="personService.behaviorPerson.value.sex">
                    <md-option *ngFor="let sex of sexes" [value]="sex">{{sex}}</md-option>
                </md-select>
                <md-input-container>
                    <input mdInput [(ngModel)]="personService.behaviorPerson.value.email" placeholder="Last" />
                </md-input-container>
            </section>
            <button md-raised-button md-dialog-close="1" color="primary" (click)="personService.editPerson()">Update Heat</button>
            <button md-raised-button md-dialog-close="0" color="warn">Cancel</button>
        </md-card-content>
    </md-card>
</div>