<form>
    <md-input-container>
        <input mdInput placeholder="Email" type="email" [formControl]="emailFormControl" (ngModel)="personService.personHeat.value.person.email" #filter/>
    </md-input-container>
</form>
<div *ngIf="!isRegistered">
    <h1 *ngIf="emailFormControl.hasError('required')">Please enter Your Email address </h1>
    <h1 *ngIf="emailFormControl.hasError('pattern')">Please enter a valid email address</h1>
    <div *ngIf="!emailFormControl.hasError('required') && !emailFormControl.hasError('pattern')">
    <button md-raised-button color="accent" *ngIf="!isRegistered" (click)="registerEmail(personService.personHeat.value.person)">Register</button>
    </div>
</div>
<div *ngIf="isRegistered">
    <md-toolbar color="primary">Register for Heat</md-toolbar>
    <md-card class="styled-card">
        <md-card-content>
            <section>
                <h1>{{personService.personHeat.value.person.email}}</h1>
                <h3>Heat: {{personService.personHeat.value.heat.name}}</h3>
                <md-select placeholder="Rx/Scaled" [(ngModel)]="personService.personHeat.value.rxEvent">
                    <md-option *ngFor="let scale of scales" [value]="scale">{{scale}}</md-option>
                </md-select>
                <md-checkbox [(ngModel)]="personService.personHeat.value.partner">Check if you have a Partner!</md-checkbox>
                <md-input-container *ngIf="personService.personHeat.value.partner">
                    <input mdInput placeholder="Partner's First and Last Name" [(ngModel)]="personService.personHeat.value.partnerName">
                </md-input-container>
                <md-select *ngIf="personService.personHeat.value.partner" placeholder="Partner Rx/Scaled" [(ngModel)]="personService.personHeat.value.partnerRxEvent">
                    <md-option *ngFor="let scale of scales" [value]="scale">{{scale}}</md-option>
                </md-select>
                <md-select *ngIf="personService.personHeat.value.partner" placeholder="Gender" [(ngModel)]="personService.personHeat.value.partnerSex">
                    <md-option *ngFor="let sex of sexes" [value]="sex">{{sex}}</md-option>
                </md-select>
                <md-input-container>
                    <textarea md-maxlength="100" rows="2" mdInput placeholder="comments" [(ngModel)]="personService.personHeat.value.comments"></textarea>
                </md-input-container>
            </section>
            <button class="styled-button" md-raised-button color="primary" (click)="personService.addAthletePersonHeat()">Assign Heat</button>
        </md-card-content>
    </md-card>
</div>