.heat-list-item {
    display: inline-block;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2px;
}

.heat-card {
    display: inline-block;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
}
