<md-list>
    <h3 md-subheader>Heats</h3>
    <div >
        <md-list-item *ngFor="let heat of heats" 
            [class.selected]="isSelected(heat)">
            <h4 class="heat-card"> {{heat.name}}  Heat</h4>
            <p class="heat-card"> {{heat.date | date: 'jm'}}</p>
            <p class="heat-card"> {{heat.slots}} Slots</p>
            <button (click)="onSelect(heat)" md-raised-button color="accent">Edit</button>
            <button (click)="deleteHeat(id)" md-raised-button color="warn">Delete</button>
        </md-list-item>
    </div>
</md-list>